---
import Header from "src/components/sections/Header.astro";
import AboutMe from "src/components/sections/AboutMe.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Gustavo Mechanic">
	<Header />
	<main>
		<div class="mt-[175px]  flex justify-center">
			<h2 class="text-white text-center font-poppins max-w-[915px] text-[58px] font-semibold leading-[71px] uppercase"  >Find out 
				<span class="text-primary font-bold">who we are</span> 
				and learn about 
				<span class="text-primary font-bold">our history.</span>
			</h2>
		</div>
		<div class="mt-[175px]">
			<img src="/assets/bg_hero_about.jpg" alt="background about hero">
		</div>
		<AboutMe />
	</main>
</Layout>
