---
import Header from "src/components/sections/Header.astro";
import AboutMe from "src/components/sections/AboutMe.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="About us">
	<Header />
	<main>
		<div class="mt-[77px] lg:mt-[175px]  flex justify-center">
			<h2 class="text-white text-center font-poppins max-w-[286px] sm:max-w-sm sm:text-2xl md:max-w-xl lg:max-w-[915px] text-[19px]/[24px] md:text-[37px]/[40px] lg:text-[58px]/[71px] font-semibold uppercase"  >Find out 
				<span class="text-primary font-bold">who we are</span> 
				and learn about 
				<span class="text-primary font-bold">our history.</span>
			</h2>
		</div>
		<div class="mt-[67px] sm:mt-[90px] lg:mt-[175px]">
			<img src="/assets/bg_hero_about.jpg" alt="background about hero">
		</div>
		<AboutMe />
	</main>
</Layout>
