---

import Header from "src/components/sections/Header.astro"
import Layout from "src/layouts/Layout.astro"

---




<Layout title="Contact us">
	<div class="relative flex flex-col h-[380px] w-full overflow-hidden md:h-[573px] lg:h-[800px]">
		<div class="hidden md:block absolute inset-0 w-full -z-10">
		  <img
			src="/assets/bg_contact.jpg"
			alt="background hero"
			class="pointer-events-none absolute w-full h-full inset-0 object-cover object-top"
		  />
		</div>
		<Header />
        <div class="flex justify-center mt-[255px]">
            <h2 class="text-white max-w-[1038px] text-center font-poppins text-[58px] font-semibold leading-[71px] uppercase">

                Find out how we can keep your vehicle in top condition <br> <br>
                <span class="text-primary font-poppins text-[58px] font-bold leading-[71px] uppercase">

                contact us for more details!
                </span>
            </h2>
        </div>
	</div>
	<main>
		HOLI

	</main>
</Layout>
