---

import { Image } from "astro:assets"
import Header from "src/components/sections/Header.astro"
import Layout from "src/layouts/Layout.astro"

import bg_contact from "/public/assets/bg_contact.jpg"
import bg_contact_responsive from "/public/assets/bg_contact_responsive.webp"

---

<Layout title="Contact us">
	<div class="relative flex flex-col h-[380px] w-full overflow-hidden md:h-[573px] lg:h-[800px]">
		<div class="hidden md:block absolute inset-0 w-full -z-10">
		  <Image
			src={bg_contact}
			alt="background hero"
			class="pointer-events-none absolute w-full h-full inset-0 object-cover object-top"
		  />
		</div>
		<div class="block md:hidden absolute inset-0 w-full -z-0">
			<Image
			  src={bg_contact_responsive}
			  alt="hero"
			  class="pointer-events-none absolute w-full h-full inset-0 object-cover object-right-top"
			/>
		</div>
		<Header />
        <div class="flex justify-center z-10 mt-[100px] px-5 lg:mt-[255px]">
            <h2 class="text-white max-w-[1038px] text-center font-poppins text-[19px]/[35px] md:text-[36px]/[51px] md:max-w-2xl lg:max-w-5xl lg:text-[58px]/[71px]  font-semibold uppercase">
                Find out how we can keep your vehicle in top condition <br> <br>
                <span class="text-primary font-bold uppercase">
                	contact us for more details!
                </span>
            </h2>
        </div>
	</div>
	<main>
		HOLI

	</main>
</Layout>
