<section class="mt-16 flex items-center flex-col">
    <div class="px-5">
        <h2 class="text-white text-center font-poppins text-[32px]/[40px] lg:text-[43px]/[71px] font-semibold">Gustavo's Dream</h2>
        <p class="text-white text-center mt-8 text-[12px]/[20px] sm:text-[16px]/[24px] lg:text-[23px]/[30px] font-normal leading-normal max-w-[1194px]">
            Since he was young, Gustavo loved automobiles. After years of working in various workshops, he decided to open his own. With his savings, he rented a small shop and founded "Gustavo Mechanic". <br /> <br>
            At the beginning, the days were long and the work was scarce. However, his skill and honesty soon made customers start recommending him. Over time, the shop gained a reputation for quality and attention to detail.
            Gustavo not only repaired cars, but also built a community of loyal customers. His passion and effort made "Gustavo Mechanic" a respected name in the city. His dream of owning his own shop became a successful reality, all thanks to his dedication and love for mechanics.
        </p>
    </div>
    <div>
        <img src="/assets/bg_mechanics_about.webp" alt="background mechanics about">
    </div>
</section>