---
import Hero from "./Hero.astro";




const {pathname} = Astro.url

export const dataHeaderLinks = [
  {
    id: 1,
    to: "/",
    name: "Home",
  },
  {
    id: 2,
    to: "/about",
    name: "about",
  },
  {
    id: 3,
    to: "/services",
    name: "Services",
  },
  {
    id: 4,
    to: "/contact",
    name: "Contact",
  },
];


---


<section class="relative flex flex-col h-[380px] overflow-hidden md:h-[573px] lg:h-[817px]">
  <div class="hidden md:block absolute inset-0 w-full -z-0">
    <img
      src={'/assets/bg_header.jpg'}
      alt="background hero"
      class="pointer-events-none absolute w-full h-full inset-0 object-cover object-top"
    />
  </div>

  <header class="w-full sticky z-10 flex items-start px-8 mt-14 max-h-20 top-0 justify-between">
    <svg width="256" height="71" viewBox="0 0 256 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M67.586 35.9887V68.7484C67.586 69.3544 67.1008 69.8519 66.4959 69.8519H57.1206C56.522 69.8519 56.0306 69.3607 56.0306 68.7484V68.4167C56.0306 67.7151 55.5139 67.1283 54.8272 67.0517C53.0567 66.854 51.7651 67.9511 50.2529 68.7931C49.2322 69.3544 47.7138 70.0305 45.5968 70.3877C43.2907 70.8214 39.9451 71.1786 35.9757 70.6556C32.8002 70.2346 30.1161 69.3735 28.0243 68.4869C27.0477 68.0723 27.0729 66.6563 28.0684 66.28C34.9361 63.6648 51.658 56.5656 50.9271 49.4472V49.4281C50.8263 48.4649 50.0198 47.7378 49.0621 47.7378H41.703C41.0477 47.7378 40.5184 47.202 40.5184 46.5386V35.9887C40.5184 35.3253 41.0477 34.7895 41.703 34.7895H66.4014C67.0567 34.7895 67.586 35.3253 67.586 35.9887Z" fill="url(#paint0_linear_5_26)"/>
        <path d="M71.1962 26.1595C71.4734 26.9377 71.1521 27.7988 70.4338 28.1942C69.1737 28.8831 67.9262 29.5783 66.6535 30.2162C66.6535 30.2162 66.6535 30.2162 66.6472 30.2162C66.2187 30.4331 65.7525 30.5606 65.2673 30.5606H55.0792C53.8065 30.5606 52.6661 29.8207 52.0927 28.6726C49.6418 23.7803 45.0171 20.0745 39.2709 19.0539C29.5743 17.3317 20.3312 23.8951 18.6301 33.7116C16.9289 43.528 23.4122 52.8852 33.1089 54.6074H33.1278C35.3582 55.0092 35.8245 58.0454 33.8083 59.1042C33.09 59.4805 32.3402 59.8568 31.559 60.214C28.2385 61.7576 25.1575 62.759 22.5364 63.4224C22.1332 63.5245 21.7048 63.4671 21.3393 63.2629C21.3015 63.2438 21.2637 63.2183 21.2196 63.1992C20.5455 62.8037 20.1863 62.7654 19.6697 63.2438C18.5797 64.2644 17.4644 65.2594 16.3114 66.2863C15.7003 66.8349 14.7804 66.8413 14.1629 66.3055C13.1926 65.4763 12.2349 64.6534 11.2583 63.8115C10.6346 63.2757 10.4959 62.3636 10.9244 61.6619C11.6994 60.399 12.4491 59.168 13.2367 57.9561C13.64 57.3374 13.6841 56.9164 13.18 56.2722C12.1089 54.9008 11.1197 53.472 10.2124 51.9858C9.83438 51.3608 9.53195 51.1503 8.83258 51.3161C7.39604 51.6478 5.94689 51.9348 4.46624 52.2346C3.67236 52.3941 2.88479 51.9412 2.60126 51.1758C2.0594 49.6768 1.53015 48.2289 1.0639 46.7555C0.988296 46.5131 1.34743 45.9646 1.63726 45.7924C3.0738 44.9504 4.54815 44.1786 6.0225 43.4132C6.53285 43.1453 6.79748 42.9093 6.70297 42.2013C6.45094 40.3388 6.38164 38.4508 6.15481 36.5883C6.11071 36.2247 5.75157 35.7272 5.42394 35.5996C4.0126 35.0638 2.57606 34.579 1.12061 34.0815C0.351933 33.82 -0.114314 33.0291 0.0243 32.219C0.282626 30.6754 0.534651 29.1829 0.855983 27.7031C0.918989 27.4224 1.53645 27.0907 1.89559 27.0844C3.51485 27.0844 5.13411 27.1609 6.74707 27.2566C7.43384 27.2949 7.80558 27.0844 8.08911 26.3891C8.76327 24.7243 9.60126 23.1297 10.2817 21.4713C10.4329 21.095 10.3762 20.4253 10.1368 20.1255C9.20432 18.9646 8.21512 17.8484 7.20072 16.7003C6.65886 16.0815 6.63996 15.1503 7.16921 14.5188C7.982 13.5429 8.78848 12.5734 9.60126 11.5911C10.1242 10.9596 11.0315 10.8129 11.7246 11.2467C13.0099 12.0504 14.2637 12.8349 15.5049 13.6514C16.1476 14.0787 16.5383 13.9767 17.225 13.3707C18.3717 12.3629 19.613 11.4635 20.9424 10.7236C21.8434 10.2261 22.1521 9.9391 21.9631 9.12266C21.6292 7.66199 21.3393 6.19495 21.0369 4.68325C20.8731 3.87319 21.3204 3.06313 22.0891 2.78248C23.2799 2.34874 24.4581 1.92138 25.6427 1.48127C26.4113 1.20062 27.2619 1.5323 27.6526 2.25944C28.3708 3.61167 29.0765 4.93201 29.7507 6.26511C30.0216 6.8009 30.2736 7.0369 30.9478 6.9476C32.7057 6.7116 34.4824 6.5649 36.2592 6.46922C36.9145 6.43095 37.261 6.297 37.4563 5.58899C37.9037 3.97525 38.5085 2.40615 38.9748 0.792399C39.1764 0.0907695 39.4725 -0.100584 40.1845 0.0461203C41.5644 0.326772 42.9505 0.562775 44.3933 0.811534C45.1935 0.95186 45.7795 1.66625 45.7606 2.48907C45.7291 3.87957 45.7039 5.23818 45.6283 6.60317C45.5842 7.51529 45.7669 8.07021 46.7309 8.4274C48.243 8.98871 49.7048 9.71585 51.1224 10.4876C51.8344 10.8704 52.288 10.9214 52.9055 10.3154C53.9262 9.32039 54.9973 8.37638 56.1125 7.38772C56.7237 6.84555 57.6247 6.83279 58.2484 7.35582C59.2187 8.17227 60.1827 8.98871 61.1719 9.81791C61.7957 10.3473 61.9469 11.2531 61.5311 11.9611C60.775 13.2368 60.0378 14.4806 59.2502 15.6925C58.8281 16.3431 58.784 16.7513 59.3069 17.3764C60.4221 18.7031 61.468 20.0936 62.6337 21.6053C63.018 22.1028 63.6418 22.3388 64.2466 22.2112C65.3744 21.9816 66.6598 21.7137 68.027 21.4394C68.8272 21.2736 69.6274 21.7265 69.9046 22.5046C70.333 23.6974 70.7615 24.9029 71.2088 26.1404L71.1962 26.1595Z" fill="url(#paint1_linear_5_26)"/>
        <path d="M84.1251 22.932C84.6859 22.932 84.9631 23.2127 84.9631 23.8314V41.4742C84.9631 46.3345 86.9226 48.7839 90.7912 48.7839C94.6598 48.7839 96.6193 46.3282 96.6193 41.4742V23.8314C96.6193 23.219 96.8965 22.932 97.5076 22.932H103.518C104.079 22.932 104.356 23.2127 104.356 23.8314V42.9412C104.356 46.9532 103.096 50.2062 100.626 52.7066C98.1566 55.207 94.8488 56.4316 90.7912 56.4316C86.7336 56.4316 83.3816 55.207 80.9118 52.7066C78.4419 50.2062 77.2322 46.9532 77.2322 42.9412V23.8314C77.2322 23.219 77.5094 22.932 78.1206 22.932H84.1314H84.1251Z" fill="url(#paint2_linear_5_26)"/>
        <path d="M127.518 31.3324C127.24 31.8491 126.774 31.9001 126.163 31.5684C124.437 30.4841 122.855 29.9674 121.318 29.9674C119.591 29.9674 118.338 30.7711 118.338 32.0915C118.338 33.6031 120.48 34.6875 123.233 35.7718C127.196 37.0922 132.319 39.7328 132.23 46.2452C132.23 48.5542 131.342 50.9143 129.622 52.9936C127.896 55.022 124.726 56.438 120.858 56.438C117.266 56.438 113.776 55.1623 110.374 52.5663C109.907 52.2346 109.813 51.8136 110.096 51.3416L113.127 46.6726C113.455 46.1559 113.921 46.0603 114.482 46.4812C116.674 48.1333 118.816 48.9369 120.959 48.9369C123.334 48.9369 124.455 47.8973 124.455 46.3919C124.455 44.8866 122.918 43.7002 120.864 42.9922C118.816 42.2396 116.252 41.0085 114.198 39.6435C112.15 38.2722 110.607 35.5868 110.607 32.1425C110.607 29.2658 111.678 26.9504 113.776 25.1581C115.874 23.3657 118.527 22.4664 121.696 22.4664C124.865 22.4664 127.662 23.3657 130.46 25.107C130.97 25.4387 131.065 25.8597 130.788 26.3827L127.524 31.3388L127.518 31.3324Z" fill="url(#paint3_linear_5_26)"/>
        <path d="M146.344 55.9596C145.783 55.9596 145.506 55.679 145.506 55.0603V30.5734H137.63C137.025 30.5734 136.742 30.2927 136.742 29.725V23.825C136.742 23.2127 137.019 22.9256 137.63 22.9256H161.119C161.724 22.9256 162.007 23.2063 162.007 23.825V29.725C162.007 30.2927 161.73 30.5734 161.119 30.5734H153.243V55.0603C153.243 55.6726 152.966 55.9596 152.355 55.9596H146.344Z" fill="url(#paint4_linear_5_26)"/>
        <path d="M162.511 55.9596C161.906 55.9596 161.717 55.679 161.951 55.0603L171.414 23.825C171.553 23.2127 171.924 22.9256 172.441 22.9256H180.455C180.966 22.9256 181.344 23.2063 181.482 23.825L190.946 55.0603C191.179 55.5769 190.946 55.9596 190.385 55.9596H184.047C183.347 55.9596 182.976 55.679 182.837 55.0603L181.344 49.7789H171.509L170.066 55.0603C169.927 55.6726 169.555 55.9596 168.856 55.9596H162.511ZM176.448 31.9447L173.235 42.5138H179.668L176.455 31.9447H176.448Z" fill="url(#paint5_linear_5_26)"/>
        <path d="M201.846 55.9596C201.147 55.9596 200.775 55.6279 200.636 55.0156L191.173 23.8314C190.984 23.219 191.173 22.932 191.734 22.932H198.072C198.771 22.932 199.143 23.2127 199.282 23.8314L205.664 45.2056L212.047 23.8314C212.185 23.219 212.557 22.932 213.257 22.932H219.595C220.156 22.932 220.389 23.404 220.156 23.8314L210.692 55.0156C210.554 55.6279 210.182 55.9596 209.482 55.9596H201.84H201.846Z" fill="url(#paint6_linear_5_26)"/>
        <path d="M251.104 27.416C254.368 30.6691 256 34.6811 256 39.4458C256 44.2105 254.368 48.2226 251.104 51.5266C247.891 54.7796 243.884 56.4316 239.171 56.4316C234.458 56.4316 230.457 54.7796 227.238 51.5266C224.024 48.2736 222.437 44.2169 222.437 39.4458C222.437 34.6747 224.068 30.6244 227.282 27.365C230.495 24.1056 234.458 22.46 239.165 22.46C243.871 22.46 247.878 24.112 251.098 27.416H251.104ZM239.177 48.7902C241.742 48.7902 243.884 47.8909 245.61 46.0539C247.381 44.2169 248.269 42.0418 248.269 39.4458C248.269 36.8498 247.381 34.6811 245.61 32.8377C243.884 31.0007 241.742 30.1014 239.177 30.1014C236.613 30.1014 234.471 31.0007 232.744 32.8377C231.018 34.6747 230.18 36.8498 230.18 39.4458C230.18 42.0418 231.018 44.2105 232.744 46.0539C234.471 47.8909 236.613 48.7902 239.177 48.7902Z" fill="url(#paint7_linear_5_26)"/>
        <path d="M94.2628 63.7286C94.4203 63.7286 94.5464 63.8179 94.5905 63.9646L95.8128 68.455C95.838 68.5379 95.9514 68.5571 95.9955 68.4869L98.9757 63.9646C99.0702 63.8242 99.2277 63.7286 99.3852 63.7286H100.954C101.181 63.7286 101.326 63.9072 101.288 64.1304L100.135 70.579C100.097 70.8023 99.883 70.9809 99.6562 70.9809H98.4338C98.2133 70.9809 98.0621 70.8023 98.0999 70.579L98.5598 68.0021L96.7453 70.7512C96.6508 70.8916 96.4932 70.9872 96.3357 70.9872H94.7165C94.559 70.9872 94.4329 70.8979 94.3888 70.7512L93.5508 68.0149L93.0909 70.579C93.0531 70.8023 92.8389 70.9809 92.6121 70.9809H91.3897C91.1629 70.9809 91.018 70.8023 91.0558 70.579L92.2088 64.1304C92.2466 63.9072 92.4608 63.7286 92.6877 63.7286H94.2628Z" fill="url(#paint8_linear_5_26)"/>
        <path d="M109.466 70.579L110.619 64.1177C110.657 63.8944 110.871 63.7158 111.098 63.7158H117.14C117.273 63.7158 117.367 63.8242 117.342 63.9582L117.096 65.3296C117.071 65.4635 116.945 65.5719 116.813 65.5719H112.617C112.572 65.5719 112.528 65.6102 112.522 65.6549L112.39 66.4011C112.383 66.4458 112.415 66.4841 112.459 66.4841H115.836C115.968 66.4841 116.063 66.5925 116.038 66.7264L115.811 67.983C115.786 68.1169 115.66 68.2254 115.527 68.2254H112.15C112.106 68.2254 112.062 68.2636 112.056 68.3083L111.93 69.0099C111.923 69.0546 111.949 69.0928 111.999 69.0928H116.195C116.328 69.0928 116.422 69.2013 116.397 69.3352L116.145 70.7576C116.12 70.8916 115.994 71 115.861 71H109.819C109.592 71 109.447 70.8214 109.485 70.5982L109.466 70.579Z" fill="url(#paint9_linear_5_26)"/>
        <path d="M125.457 69.0865L126.094 65.5975C126.283 64.5578 127.284 63.7094 128.33 63.7094H132.293C132.52 63.7094 132.665 63.888 132.627 64.1113L132.438 65.1829C132.401 65.4061 132.186 65.5847 131.959 65.5847H128.507C128.374 65.5847 128.242 65.6931 128.223 65.8271L127.681 68.8377C127.656 68.9716 127.744 69.0801 127.883 69.0801H131.336C131.563 69.0801 131.707 69.2587 131.67 69.4819L131.474 70.579C131.437 70.8023 131.222 70.9809 130.995 70.9809H127.02C125.968 70.9809 125.268 70.1325 125.457 69.0865Z" fill="url(#paint10_linear_5_26)"/>
        <path d="M148.807 64.124L147.654 70.579C147.617 70.8023 147.402 70.9809 147.176 70.9809H145.821C145.594 70.9809 145.449 70.8023 145.487 70.579L145.896 68.2828C145.903 68.2381 145.878 68.1999 145.827 68.1999H143.206C143.162 68.1999 143.118 68.2381 143.112 68.2828L142.702 70.579C142.664 70.8023 142.45 70.9809 142.223 70.9809H140.869C140.642 70.9809 140.497 70.8023 140.535 70.579L141.688 64.124C141.725 63.9008 141.94 63.7222 142.167 63.7222H143.521C143.748 63.7222 143.893 63.9008 143.855 64.124L143.452 66.382C143.446 66.4267 143.471 66.4649 143.521 66.4649H146.142C146.186 66.4649 146.23 66.4267 146.237 66.382L146.64 64.124C146.678 63.9008 146.892 63.7222 147.119 63.7222H148.473C148.7 63.7222 148.845 63.9008 148.807 64.124Z" fill="url(#paint11_linear_5_26)"/>
        <path d="M156.507 70.477L160.659 64.1113C160.873 63.8242 161.138 63.7541 161.503 63.7349C161.604 63.7222 161.711 63.7286 161.831 63.7286H161.887C161.932 63.7286 161.963 63.7286 162.007 63.7286C162.158 63.7286 162.322 63.7286 162.511 63.7286C162.511 63.7286 162.87 63.7158 163.003 64.0985L165.057 70.4642C165.088 70.5726 165.069 70.7002 165 70.8023C164.931 70.9043 164.817 70.9681 164.716 70.9681H163.078C162.965 70.9681 162.87 70.8979 162.839 70.7831L162.656 70.1836H159.197L159.059 70.4004L158.788 70.7831C158.706 70.8979 158.58 70.9681 158.454 70.9681H156.727C156.608 70.9681 156.507 70.9043 156.463 70.8023C156.419 70.7002 156.437 70.5726 156.513 70.4642L156.507 70.477ZM160.312 68.4678H162.127L161.535 66.5734L160.312 68.4678Z" fill="url(#paint12_linear_5_26)"/>
        <path d="M176.675 66.9433L176.026 70.579C175.988 70.8023 175.774 70.9809 175.547 70.9809H174.205C173.978 70.9809 173.833 70.8023 173.871 70.579L175.024 64.1304C175.062 63.9072 175.276 63.7286 175.503 63.7286H177.217C177.337 63.7286 177.437 63.7796 177.5 63.8753L179.529 67.5237C179.58 67.6003 179.699 67.5811 179.712 67.4919L180.311 64.1368C180.348 63.9135 180.563 63.7349 180.789 63.7349H182.131C182.352 63.7349 182.503 63.9135 182.465 64.1368L181.312 70.5854C181.275 70.8086 181.06 70.9872 180.833 70.9872H179.353C179.233 70.9872 179.132 70.9362 179.069 70.8405L176.864 66.9114C176.814 66.8349 176.694 66.854 176.681 66.9433H176.675Z" fill="url(#paint13_linear_5_26)"/>
        <path d="M193.617 63.7222C193.844 63.7222 193.989 63.9008 193.951 64.124L192.798 70.579C192.761 70.8023 192.546 70.9809 192.32 70.9809H190.965C190.738 70.9809 190.593 70.8023 190.631 70.579L191.784 64.124C191.822 63.9008 192.036 63.7222 192.263 63.7222H193.617Z" fill="url(#paint14_linear_5_26)"/>
        <path d="M202.287 69.0865L202.923 65.5975C203.113 64.5578 204.114 63.7094 205.16 63.7094H209.123C209.35 63.7094 209.495 63.888 209.457 64.1113L209.268 65.1829C209.23 65.4061 209.016 65.5847 208.789 65.5847H205.337C205.204 65.5847 205.072 65.6931 205.053 65.8271L204.511 68.8377C204.486 68.9716 204.574 69.0801 204.713 69.0801H208.166C208.392 69.0801 208.537 69.2587 208.5 69.4819L208.304 70.579C208.266 70.8023 208.052 70.9809 207.825 70.9809H203.85C202.797 70.9809 202.098 70.1325 202.287 69.0865Z" fill="url(#paint15_linear_5_26)"/>
        <path d="M253.316 67.7087H216.69C216.495 67.7087 216.338 67.5493 216.338 67.3515C216.338 67.1538 216.495 66.9943 216.69 66.9943H253.316C253.511 66.9943 253.669 67.1538 253.669 67.3515C253.669 67.5493 253.511 67.7087 253.316 67.7087Z" fill="url(#paint16_linear_5_26)"/>
        <defs>
        <linearGradient id="paint0_linear_5_26" x1="-0.00355439" y1="35.5013" x2="256" y2="35.5013" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint1_linear_5_26" x1="-0.00324074" y1="35.5169" x2="256.007" y2="35.5169" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint2_linear_5_26" x1="4.28153" y1="-0.0540749" x2="28.5712" y2="106.791" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B2B2AF"/>
        <stop offset="0.03" stop-color="#BDBDBB"/>
        <stop offset="0.13" stop-color="#E1E1E0"/>
        <stop offset="0.19" stop-color="#EFEFEF"/>
        <stop offset="0.26" stop-color="#F2F2F2"/>
        <stop offset="0.32" stop-color="#FCFCFC"/>
        <stop offset="0.6" stop-color="#D1D1D1"/>
        <stop offset="0.74" stop-color="#DADADA"/>
        <stop offset="0.87" stop-color="#E8E8E8"/>
        <stop offset="0.93" stop-color="#F5F5F5"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint3_linear_5_26" x1="4.29487" y1="12.8109" x2="20.6684" y2="101.67" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B2B2AF"/>
        <stop offset="0.03" stop-color="#BDBDBB"/>
        <stop offset="0.13" stop-color="#E1E1E0"/>
        <stop offset="0.19" stop-color="#EFEFEF"/>
        <stop offset="0.26" stop-color="#F2F2F2"/>
        <stop offset="0.32" stop-color="#FCFCFC"/>
        <stop offset="0.6" stop-color="#D1D1D1"/>
        <stop offset="0.74" stop-color="#DADADA"/>
        <stop offset="0.87" stop-color="#E8E8E8"/>
        <stop offset="0.93" stop-color="#F5F5F5"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint4_linear_5_26" x1="5.74564" y1="-0.274186" x2="27.2914" y2="100.085" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B2B2AF"/>
        <stop offset="0.03" stop-color="#BDBDBB"/>
        <stop offset="0.13" stop-color="#E1E1E0"/>
        <stop offset="0.19" stop-color="#EFEFEF"/>
        <stop offset="0.26" stop-color="#F2F2F2"/>
        <stop offset="0.32" stop-color="#FCFCFC"/>
        <stop offset="0.6" stop-color="#D1D1D1"/>
        <stop offset="0.74" stop-color="#DADADA"/>
        <stop offset="0.87" stop-color="#E8E8E8"/>
        <stop offset="0.93" stop-color="#F5F5F5"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint5_linear_5_26" x1="15.3296" y1="18.2881" x2="41.4359" y2="123.543" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B2B2AF"/>
        <stop offset="0.03" stop-color="#BDBDBB"/>
        <stop offset="0.13" stop-color="#E1E1E0"/>
        <stop offset="0.19" stop-color="#EFEFEF"/>
        <stop offset="0.26" stop-color="#F2F2F2"/>
        <stop offset="0.32" stop-color="#FCFCFC"/>
        <stop offset="0.6" stop-color="#D1D1D1"/>
        <stop offset="0.74" stop-color="#DADADA"/>
        <stop offset="0.87" stop-color="#E8E8E8"/>
        <stop offset="0.93" stop-color="#F5F5F5"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint6_linear_5_26" x1="15.1793" y1="-3.15373" x2="41.2399" y2="102.061" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B2B2AF"/>
        <stop offset="0.03" stop-color="#BDBDBB"/>
        <stop offset="0.13" stop-color="#E1E1E0"/>
        <stop offset="0.19" stop-color="#EFEFEF"/>
        <stop offset="0.26" stop-color="#F2F2F2"/>
        <stop offset="0.32" stop-color="#FCFCFC"/>
        <stop offset="0.6" stop-color="#D1D1D1"/>
        <stop offset="0.74" stop-color="#DADADA"/>
        <stop offset="0.87" stop-color="#E8E8E8"/>
        <stop offset="0.93" stop-color="#F5F5F5"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint7_linear_5_26" x1="36.7637" y1="10.3314" x2="62.743" y2="103.986" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B2B2AF"/>
        <stop offset="0.03" stop-color="#BDBDBB"/>
        <stop offset="0.13" stop-color="#E1E1E0"/>
        <stop offset="0.19" stop-color="#EFEFEF"/>
        <stop offset="0.26" stop-color="#F2F2F2"/>
        <stop offset="0.32" stop-color="#FCFCFC"/>
        <stop offset="0.6" stop-color="#D1D1D1"/>
        <stop offset="0.74" stop-color="#DADADA"/>
        <stop offset="0.87" stop-color="#E8E8E8"/>
        <stop offset="0.93" stop-color="#F5F5F5"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint8_linear_5_26" x1="0.30696" y1="35.5" x2="256.008" y2="35.5" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint9_linear_5_26" x1="-0.204694" y1="35.3757" x2="255.867" y2="35.3757" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint10_linear_5_26" x1="-0.0235365" y1="35.5" x2="256.011" y2="35.5" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint11_linear_5_26" x1="0.379562" y1="35.5" x2="256.01" y2="35.5" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint12_linear_5_26" x1="-0.239351" y1="35.6016" x2="256.123" y2="35.6016" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint13_linear_5_26" x1="0.177971" y1="35.4376" x2="256.015" y2="35.4376" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint14_linear_5_26" x1="0.459606" y1="35.5" x2="256.024" y2="35.5" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint15_linear_5_26" x1="0.20027" y1="35.5" x2="256.011" y2="35.5" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        <linearGradient id="paint16_linear_5_26" x1="216.338" y1="67.3451" x2="253.669" y2="67.3451" gradientUnits="userSpaceOnUse">
        <stop offset="0.39" stop-color="#4FFE01"/>
        <stop offset="1" stop-color="#088F00"/>
        </linearGradient>
        </defs>
    </svg>
    <div class="flex items-center justify-end gap-x-[52px] flex-1 h-full w-full">
      <div class="flex gap-x-12">
        {dataHeaderLinks.map(({ id, name, to }) => {
          const isActive = pathname === to;
          return (
            <a href={to} class={`font-poppins text-[23px] capitalize ${
                  isActive ? "text-primary font-bold" : "text-white font-normal"
                  }`}>
                {name}
            </a>
          );
        })}
      </div>
      <div class="">
        <button
          class="bg-primary w-full text-white text-center font-montserrat text-[19px] font-bold px-8 py-2 rounded-[22px] bg-gradient-to-r from-[#045000] via-[#3ABD00] to-[#045000]"
        >
        Learn more
        </button>
      </div>
    </div>
  </header>  
  <Hero />
</section>

