
<div class="w-full h-full z-10 mt-[76px] lg:mt-[215px] flex flex-col items-center justify-center">
    <h2 class="text-white text-center font-poppins max-w-[915px] text-[24px]/[38px] md:text-[30px]/[40px] md:max-w-[532px] lg:max-w-[914px] lg:text-[58px]/[71px] font-semibold uppercase">Trust us for the <span class="text-primary font-bold">care</span> and <span class="text-primary font-bold">maintenance</span> of your car.</h2>
  
    <span class="text-white text-center font-poppins text-[10px] md:text-[14px] lg:text-[27px] font-normal">schedule your appointment today and drive with confidence!</span>
  
  
    <div class="mt-12 md:mt-[70px] lg:mt-[113px]">
      <a href="/contact" class="text-white text-center font-montserrat text-[20px] lg:text-[32px] font-bold px-10 py-2 rounded-[22px] bg-gradient-to-r from-[#045000] via-[#3ABD00] to-[#045000]">CONTACT US </a>
    </div>
  </div>
  