---
import { Image } from "astro:assets";

const items = [
  { id: 1, icon: '/assets/icons/whatsapp.svg', text: "Personalized attention with guarantee." },
  { id: 2, icon: '/assets/icons/service_car.svg', text: "Turn services into experiences." },
  { id: 3, icon: '/assets/icons/road.svg', text: "You will optimize and make the most of your time." },
];
---

<section class="flex items-center flex-col px-5 mt-[76px]">
    <h2 class="text-white text-center font-poppins text-[32px] lg:text-[43px] font-semibold leading-[71px]">WHY US?</h2>
    <div class="mt-8">
        <p class="text-white text-center max-w-[946px] leading-normal text-xs lg:text-[23px] font-normal">
            At Gustavo's auto shop, you will enjoy the professional experience of an expert mechanic, personalized attention, quality work with modern parts and equipment, transparency in diagnostics, fast and efficient service, competitive prices, and a guarantee in our repairs, all in a pleasant and professional environment.
        </p>
    </div>
    <div class={`grid grid-cols-2 auto-rows-auto lg:grid-cols-3 mt-[74px] lg:mt-[191px] gap-14 lg:gap-x-36 items-center ${items.length % 2 !== 0 ? 'justify-center' : ''}`}>
        {items.map(({icon, text}) => (
            <div class="flex flex-col items-center m-0 w-full lg:max-w-[276px]">
            <Image src={icon} alt="Icon" width={48} height={48} decoding="async" loading="lazy" />
            <p class="text-[#088F00] text-center font-poppins mt-4 text-xs lg:text-[22px]/[30px] font-semibold">
                {text}
            </p>
            </div>
        ))}
    </div>
</section>