---
interface Props {
  to: string;
  name: string;
  className?: string
}

const { to, name, className } = Astro.props;
---

<a href={to} data-action="preventReload" class={`font-poppins text-[23px] capitalize ${className}`}>
  {name}
</a>
